
@{
    ViewBag.Title = "MuaTraGop";
    Layout = "~/Views/Layout/DungChung.cshtml";
}

@section header{

}
@using (Html.BeginForm(Html.BeginForm()))
{
    <p>  1. ĐIỀU KIỆN VÀ GIẤY TỜ GỐC CẦN CÓ</p>
    <p>  - Tuổi từ 20 - 60 (tính theo ngày tháng năm sinh trên chứng minh nhân dân).</p>
    <p>  - Chứng minh nhân dân còn hạn sử dụng (15 năm tính từ ngày cấp).</p>
    <p>  - Hộ khẩu (người mua hàng phải có tên trong hộ khẩu). Nếu khoản vay dưới 10 triệu có thể thay hộ khẩu bằng bằng lái xe.</p>
    <p>  - Công ty tài chính chỉ kiểm tra xong và gửi lại không giữ bất cứ giấy tờ gì của khách hàng.</p>

}


