
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutView.cshtml";
}
@section header{
    <script src="~/Scripts/Chart.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        #chart_container {
            width: 400px;
            height: 400px;
            border: 1px solid #ddd;
            padding: 1px;
            border-radius: 4px;
        }
    </style>

}

<body>
    <div id="chart_container">
        <canvas id="bar_chart">
        </canvas>
    </div>
    <script>
        var repArray = @Html.Raw(Json.Encode(ViewBag.REP));
        var posi = @Html.Raw(Json.Encode(ViewBag.POSI));

        var ctx = $("#bar_chart");
        var barChart = new Chart(ctx, {
            type: 'bar',
            data: {
                label: posi,
                datasets: [{
                    label: "Bar Chart Example",
                    data: repArray,
                    backgroundColor: ["rgba(242,166,54,.5)", "rgba(145,65,50,.5)", "(144,60,40,.5)"],
                    borderColor: ["rgb(242,166,54)", "rgb(145,65,50)", "rgb(144,60,40)"],
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                legend: { display: false }
            },
        });
    </script>
</body>


