
@{
    ViewBag.Title = "ReturnProduct";
    Layout = "~/Views/Layout/DungChung.cshtml";
}


@section header{

}

<section class="section single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area text-center">
                        


                        <h1>Máy đã dùng 30 ngày đổi miễn phí!</h1>
                        
                    </div><!-- end title -->
                    
                    <div class="single-post-media">

                        <img class="col-md-12" src="~/Assets/client/images/Lider/banner-doi-tra_grande.png" />
                    </div><!-- end media -->
                    
                    <div class="blog-content">
                        <div class="pp">
                        <br>
                        <br>
                        <br>
                        <br>
                            <p>Áp dụng từ ngày 11/2/2017 đối với các sản phẩm là điện thoại, máy tính bảng hàng chính hãng (hàng cty) và phụ kiện do hệ thống bán lẻ hnammobile.com kinh doanh, cụ thể như sau:</p>

                          <strong>  Ngoài chính sách bảo hành chính hãng đối với mọi sản phẩm, ADATA còn có những chính sách ưu đãi đặc biệt dành cho khách hàng:</strong><br>
                            - Miễn phí 1 đổi 1 trong 30 ngày đầu tiên nếu sản phẩm lỗi nhà sản xuất (cùng model, cùng màu, cùng dung lượng...)<br>
                            - Thời gian giải quyết 1 đổi 1 cho sản phẩm sẽ ngay lập tức (nếu máy có nguồn).<br>
                            - Khách hàng dùng thử, không thích có thể đổi trả đến 85% giá máy<br>
                            - Hoàn tiền trong 30 ngày đầu tiên, bảo hành 1 đổi 1 trong 1 năm đối với phụ kiện<br> </p>

                        </div><!-- end pp -->

                        <img src="upload/tech_menu_09.jpg" alt="" class="img-fluid img-fullwidth">

                        <div class="pp">
                            <p>
                               <strong> Các trường hợp không tiến hành đổi trả :</strong><br>

                                - Sản phẩm không đủ điều kiện bảo hành theo quy định của hãng (rơi, vỡ, va đập, cháy chập, vào nước,…)<br>
                                - Sản phẩm trầy (thân máy, màn hình...)<br>
                                - Hộp sản phẩm không còn nguyên vẹn (móp méo, rách nát và dơ bẩn),số serial trên hộp và máy không trùng nhau, hộp không còn miếng lót phía trong để bảo vệ sản phẩm.<br>
                                - Sản phẩm không còn đầy đủ hoá đơn gốc mua hàng hợp lệ + phiếu bảo hành (đối với các sản phẩm không có bảo hành điện tử)<br>
                                - Phụ kiện đi kèm trong hộp không đầy đủ như ban đầu, không còn mới, bị trầy xước, rơi vỡ, va chạm, vào nước,…<br>
                                - Không áp dụng đối với: Apple Pencil, Apple TV, Apple Mouse, Apple Pencil, Apple Macbook, Apple AirPods.<br>
                                <br>
                                Phí áp dụng khi thu máy hoàn tiền.<br>
                                <br>
                                - Mất vỏ hộp: thu phí 5% giá trên hóa đơn<br>
                                - Mất phụ kiện: thu phí 5% giá trên giá hoá đơn / mỗi món<br>
                                - Máy trầy xước: không áp dụng thu phí theo chính sách đổi trả, mà áp dụng thu phí theo chính sách thu máy cũ tại công ty.<br>
                                - Quà khuyến mãi :  thu phí theo giá trị được xác định bởi Công ty<br>
                                <br>
                                <img class="col-md-12" src="~/Assets/client/images/Lider/loi-doi-ngay-lap-tuc-hnammobile-2017.png" /><br>
                                <br>
                                <br>
                          <strong>2. Quy định đổi trả :</strong><br>
                                <br>
                                - Máy lên nguồn :Thời gian giải quyết 1 đổi 1 ngay lập tức, ngay sau khi được xác nhận là sản phẩm có lỗi do nhà sản xuất của quản lý cửa hàng.<br>
                                - Máy mất nguồn hoặc treo logo : Thời gian giải quyết 1 đổi 1 cho sản phẩm sẽ từ 3 đến 5 ngày theo giờ làm việc, sau khi TTBH chính hãng giám định sản phẩm đủ điều kiện bảo hành đổi mới. (không áp dụng vào ngày thứ 7, chủ nhật và ngày lễ)<br>
                                - Hnam mobile chỉ giải quyết đổi trả cho sản phẩm tại cửa hàng quý khách đã mua.<br>
                            </p>
                        </div><!-- end pp -->
                    </div><!-- end content -->

                    <div class="blog-title-area">
                        <div class="tag-cloud-single">
                            <span>Tags</span>
                            <small><a href="#" title="">lifestyle</a></small>
                            <small><a href="#" title="">colorful</a></small>
                            <small><a href="#" title="">trending</a></small>
                            <small><a href="#" title="">another tag</a></small>
                        </div><!-- end meta -->

                      
                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
</section>


