
@{
    ViewBag.Title = "SecurePayment";
    Layout = "~/Views/Layout/DungChung.cshtml";
}


@section header{

}

<section class="section single-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-title-area text-center">
 
                      

                        <h1><strong>Chính sách bảo mật thanh toán</strong></h1>

                    </div><!-- end title -->

                    <div class="single-post-media">

                        <img class="col-md-12" src="~/Assets/client/images/Lider/Things-that-prove-your-payment-processing-is-secure.png" />
                    </div><!-- end media -->

                    <div class="blog-content">
                        <div class="pp">
                            <br>
                            <br>
                            <br>

                            <br>
                            <p>
                                <strong>  1. Mục đích áp dụng</strong><br>

                                Hệ thống thanh toán thẻ trên website www.ADATA.com (sau đây gọi là "ADATA") được cung cấp bởi các đối tác cổng thanh toán đã được cấp phép hoạt động hợp pháp tại Việt Nam (“Đối Tác Cổng Thanh Toán”). Theo đó, các tiêu chuẩn bảo mật thanh toán thẻ của ADATA đảm bảo tuân thủ theo các tiêu chuẩn bảo mật của Đối Tác Cổng Thanh Toán.
                                Ngoài ra, ADATA còn có các tiêu chuẩn bảo mật giao dịch thanh toán riêng, đảm bảo an toàn các thông tin thanh toán của khách hàng.<br>


                                <strong> 2. Quy định cụ thể</strong>

                                - Chính sách giao dịch thanh toán bằng thẻ nội địa và thẻ quốc tế đảm bảo tuân thủ các tiêu chuẩn bảo mật của các Đối Tác Cổng Thanh Toán gồm:<br>
                                + Tiêu chuẩn bảo mật dữ liệu trên internet SSL (Secure Sockets Layer) do GlobalSign cấp.<br>
                                + Chứng nhận tiêu chuẩn bảo mật dữ liệu thông tin thanh toán (PCI DSS) do Trustwave cung cấp.<br>
                                + Tiêu chuẩn mã hóa MD5 128 bit.<br>
                                + Các nguyên tắc và quy định bảo mật thông tin trong ngành tài chính ngân hàng theo quy định của Ngân hàng nhà nước Việt Nam.<br>
                                - Chính sách bảo mật giao dịch trong thanh toán của ADATA áp dụng với khách hàng:<br>

                                ADATA cung cấp tiện ích lưu giữ thông tin thẻ để sử dụng cho các lần thanh toán sau trên ADATA.COM với nguyên tắc ADATA chỉ lưu khóa thông tin thẻ thanh toán đã được các Đối Tác Cổng Thanh Toán mã hóa. Vì vậy:<br>
                                + Khách hàng lựa chọn sử dụng tiện ích: trong trường hợp phát sinh vấn đề liên quan đến việc bảo mật thông tin thẻ thanh toán khách hàng liên hệ với Đối Tác Cổng Thanh Toán để được giải quyết.<br>
                                + Khách hàng không lựa chọn sử dụng tiện ích: thông tin Thẻ thanh toán của khách hàng không lưu trên hệ thống của ADATA mà được lưu giữ và bảo mật theo tiêu chuẩn quốc tế PCI DSS trên các Đối Tác Cổng Thanh Toán.<br>
                                Khách hàng truy cập vào website thông qua giao thức HTTPS.<br>
                                Khách hàng có thể tuỳ chọn sử dụng OTP để truy cập và giao dịch.<br>
                                ADATA cung cấp chức năng thanh toán một bước: khi khách hàng bật chức năng này, hệ thống sẽ mặc định thông tin nhận hàng/đặt hàng theo đơn hàng trước đó, hình thức thanh toán lựa chọn theo hình thức của đơn hàng đặt thành công trước đó. (khách hàng có thể tùy chỉnh thông tin nếu muốn)
                                Hệ thống nội bộ giữa các modules của ADATA sử dụng các phương thức trao đổi mã hoá keys: Các hệ thống ứng dụng trao đổi dữ liệu nội bộ được mã hoá bằng bộ khóa private và public key đảm bảo tính bảo mật và toàn vẹn dữ liệu.<br>
                            </p>

                        </div><!-- end pp -->
                    </div><!-- end content -->

                    <div class="blog-title-area">
                        <div class="tag-cloud-single">
                            <span>Tags</span>
                            <small><a href="#" title="">lifestyle</a></small>
                            <small><a href="#" title="">colorful</a></small>
                            <small><a href="#" title="">trending</a></small>
                            <small><a href="#" title="">another tag</a></small>
                        </div><!-- end meta -->


                    </div><!-- end title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="upload/banner_07.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="upload/banner_03.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</section>

